<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvSerie</servlet-name>
        <servlet-class>controle.srvSerie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvLivro</servlet-name>
        <servlet-class>controle.srvLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUserLivro</servlet-name>
        <servlet-class>controle.srvUserLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvSessao</servlet-name>
        <servlet-class>controle.srvSessao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvEditar</servlet-name>
        <servlet-class>controle.srvEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvLivrosEditar</servlet-name>
        <servlet-class>controle.srvLivrosEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvRemover</servlet-name>
        <servlet-class>controle.srvRemover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvRedireciona</servlet-name>
        <servlet-class>controle.srvRedireciona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvLote</servlet-name>
        <servlet-class>controle.srvLote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvSerie</servlet-name>
        <url-pattern>/srvSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvLivro</servlet-name>
        <url-pattern>/srvLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUserLivro</servlet-name>
        <url-pattern>/srvUserLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvSessao</servlet-name>
        <url-pattern>/srvSessao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvEditar</servlet-name>
        <url-pattern>/srvEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvLivrosEditar</servlet-name>
        <url-pattern>/srvLivrosEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvRemover</servlet-name>
        <url-pattern>/srvRemover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvRedireciona</servlet-name>
        <url-pattern>/srvRedireciona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvLote</servlet-name>
        <url-pattern>/srvLote</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
